fastapi
uvicorn
python-dotenv

# Database
sqlalchemy
psycopg2-binary

# Authentication
python-jose
passlib[bcrypt]
python-multipart

# ML & NLP (later use, but install now)
torch
transformers
sentence-transformers

# Vector DB (RAG)
chromadb

# PDF Processing
pdfplumber
pymupdf
email-validator
